.form > h3 {
  text-align: center;
  color: #ffff;
  padding-bottom: 15px;
  padding-top: 25px;
}

footer{
  text-align: center;
}

.logo {
  width: 82px;
  height: 24px;
  margin-top: 24px;
  margin-top: 10px;
}

.pie {
  color:#707070
}